In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
file1 = './data/t2_ec_20190619.csv'
file2 = './data/t2_registry_20190619.csv'

df_ec = pd.read_csv(file1)
df_registry = pd.read_csv(file2)
#df_merged = df_ec.merge(df_registry, left_on=['RID', 'VISCODE'])

In [24]:
df_registry.head(100)

,ID,SX,RID,SITEID,VISCODE,ENTRY,VERIFY,USERID,USERDATE,USERID2,USERDATE2,SVPERF,SVSTDT,SVRESCRN,SVPREVID,SVCALL,SVDOSE,SVCOVAL
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
3,12,-4,20,2,bl,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,NaN,Y,8/10/18,-4,-4,Y,Y,-4
5,16,-4,20,2,w04,4,4,BBAGGINS_UCSD_EDU_2,9/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
6,18,-4,20,2,w08,4,4,BBAGGINS_UCSD_EDU_2,10/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
7,20,-4,20,2,w12,4,4,BBAGGINS_UCSD_EDU_2,11/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
8,22,-4,20,2,w24,4,4,BBAGGINS_UCSD_EDU_2,2/24/19,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
9,24,-4,20,2,w36,4,4,BBAGGINSD_UCSD_EDU_2,5/24/19,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
10,26,-4,19,1,bl,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
11,28,-4,17,2,bl,4,4,STARBUCK_UCSD_EDU,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
12,30,-4,19,1,w02,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,Y,Y,-4
13,32,-4,17,2,w02,4,4,MORPHEUS_UCSD_EDU,8/9/18,NaN,NaN,Y,8/9/18,N,-4,Y,Y,-4

In [43]:
df_merged = pd.merge(df_registry, df_ec,  how='left', left_on=['RID','VISCODE'], right_on=['RID','VISCODE'])

In [37]:
df_merged.head()

,ID_x,SX_x,RID,SITEID_x,VISCODE,ENTRY_x,VERIFY_x,USERID_x,USERDATE_x,USERID2_x,...,ECENDAT,ECOCCUR,ECREASOC,REASOTH,ECSDSTXT,ECDOSU,ECDOSFRQ,ECDOSADJ,ECADJ,ECADJOTH
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,-4,20,2,bl,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,Y,-4,-4,140.0,mg,QD,N,-4,-4.0
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,...,2/18/19,Y,-4,-4,280.0,mg,QD,Y,PER PROTOCOL,-4.0

In [33]:
df_merged = df_merged[df_merged.VISCODE == 'w02']
df_merged = df_merged[df_merged.SVDOSE == 'Y']
df_merged = df_merged[df_merged.ECSDSTXT != 280]

In [46]:
df_export = df_merged[['ID_x', 'RID', 'USERID_x', 'VISCODE', 'SVDOSE','ECSDSTXT']]
df_export.columns = ['ID','RID','USERID','VISCODE','SVDOSE', 'ECSDSTXT']

In [47]:
df_export.to_csv('results.csv', index=False)

In [ ]:
df_registry = df_registry[df_registry.VISCODE != 'bl']

In [ ]:
df_registry = df_registry[df_registry.SVPERF == 'Y']

In [ ]:
counts = df_registry['VISCODE'].value_counts()

In [ ]:
fig = go.Figure(data=[go.Pie(labels=counts.index, 
                             values=counts.tolist(),
                             hovertemplate = "Viscode %{label} <br>Count: %{value} (%{percent})")])
fig.update_layout(
    title="Viscodes from Registry",
    xaxis_title="x Axis Title",
    yaxis_title="y Axis Title",
    font=dict(
        family="Times, monospace",
        size=16,
        color="#000000"
    )
)
fig.show()